@tailwind base;
@tailwind components;
@tailwind utilities;

.HoverEffect::before {
  content: "";
  background-color: #00088c;
  border-radius: 45%;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -4px;
  transition: transform 200ms ease-in;
  transform: scaleX(0);
  transform-origin: right;
}
.HoverEffect:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.basicButton {
  @apply bg-gradient-to-r from-brand-secondaryLV to-brand-secondaryLV/70 text-white text-sm p-1 lg:px-3 lg:py-1 rounded-md  hover:from-brand-secondaryLV/90 hover:to-brand-secondaryLV/70 transition-all duration-300;
}

.navMenuIconHover {
  @apply bg-gray-100/90  p-1 w-8 h-8 text-gray-600 rounded-md group-hover/rack:bg-white group-hover/rack:text-brand-secondaryLV;
}
.navMenuIconWraperHover {
  @apply flex justify-start items-center gap-2 px-3 py-1 rounded-md hover:bg-gray-100/90;
}
.navMenuHover {
  @apply invisible absolute -translate-y-3   p-2 border rounded-md transition-all ease-in duration-200;
}
